
$base-theme: #ffaa00;
$base-border: #f0f0f0;
$base-background: #f7f8fa;
$base-item-background: #ffffff;


// 提示色
$color-success: #27c733;
$color-warning: #ffab0d;
$color-error: #fa2c19;
$color-theme: #ffaa00;

// 其他颜色
$color-white: #fff;
$color-black: #000;
$color-semi: #202124;
$color-grey: #60646b;
$color-light: #9c9d9e;
$color-blue: #40a9ff;

// 其他
$base-box-shadow: 0px 5px 19px 0px #60646b;

// 小黄帽盒子阴影
$base-box-shadow-xhm: 0px 4px 16px 1px #f2ca98;
